В этой практике отрабатываем работу со структурами данных:

- Списки
- Кортежи
- Строки
- Множества
- Словари

А также попрактикуемся в использовании comprehensions.

### Блок 1

Отрабатываем умение работать со списками и производить различные операции над ними. В данном блоке заданий старайтесь проверять решение на разных списках, с разными значениями и разной длины, чтобы убедиться, что ваша программа - универсальна.

*Задача 0 - Перевернуть список*

Дан список значений. Поменяйте местами первую половину списка и вторую половину списка.

Проверьте, что ваш код:
- занимает не более трех строчек кода для одного списка (одна из которых предназначена для вывода результата на экран)
- используйте slicing

In [ ]:
# опробируйте на списках разной длины (попробуйте свои собственные эксперименты)
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = [1, 2, 3, 4]

In [ ]:
for i in range(3):
  list1 = list1[1:] + [list1[0]]
for i in range(2):
  list2 = list2[1:] + [list2[0]]
print(f"list1 = {list1}\nlist2 = {list2}")

list1 = [4, 5, 6, 7, 1, 2, 3]
list2 = [3, 4, 1, 2]

*Задача 1 - Сдвиг вправо*

Дан список значений. Циклически сдвиньте элементы списка вправо:

- `list[0]` переходит на `list[1]`
- `list[1]` на место `list[2]`
- и так далее
- последний элемент переходит на место `list[0]`

Используйте slicing

In [ ]:
list2 = [1, 2, 3, 4]

In [ ]:
def cycle_list(lst):
  for i in range(len(lst)):
    lst = [lst[-1]] + lst[0:-1]
    return lst

list2 = [1, 2, 3, 4, 5, 6]
res = cycle_list(list2)
print(f"list2 = {res}")

list2 = [6, 1, 2, 3, 4, 5]

*Задача 2 - Отрабатываем операции над списками*

В переменной `result` дан список. Произведите с ним следующие действия:
- Оставьте в нем первую половину элементов.
- Добавьте в текущий список столько же нулей, сколько сейчас элементов в `result`
- Предпоследний элемент сделайте равным 100
- Посчитайте сумму элементов в данном цикле и выведите ее на экран

На каждом шаге выводите промежуточный результат

In [ ]:
result = [1, 100, -100, 23, 13, 78, 89, 90, 100, 0]

In [ ]:
#оставить первую половину списка

def half_lst(lst):
  h_ind = len(lst) // 2
  h_lst = lst[:h_ind]
  print(f"result = {h_lst}")

lst = [1, 100, -100, 23, 13, 78, 89, 90, 100, 0]
half_lst(lst)

#добавить в текущий список столько же нулей, сколько сейчас элементов в result

def n_lst(lst):
    h_ind = len(lst)
    result2 = lst[:h_ind]
    for i in range(h_ind):
      result2.append(0)
    print(f"result = {result2}")

lst = [1, 100, -100, 23, 13]
n_lst(lst)

#предпоследний элемент сделать равным 100

result = [1, 100, -100, 23, 13, 0, 0, 0, 0, 0]
result[-2] = 100
print(f"result = {result}")

#сумма элементов в цикле
s = sum(result)
print(f"сумма = {s}")

result = [1, 100, -100, 23, 13]
result = [1, 100, -100, 23, 13, 0, 0, 0, 0, 0]
result = [1, 100, -100, 23, 13, 0, 0, 0, 100, 0]
сумма = 137

*Задача 3 - Перестановка минимума и максимума*

Дан список. С помощью кода найдите минимальные и максимальные элементы, переставьте их местами.
Для нахождения индекса элемента по значению воспользуйтесь функцией индекс.

In [ ]:
result = [1, 100, -1000, 23, 13, 78, 89, 90, 12345, 12000]

In [ ]:
# пример использования метода index: находим индекс элемента 13
result.index(13)

4

In [ ]:
# индекс несущствующего элемента
result.index(-1)

ValueError: ignored

In [ ]:
result = [1, 100, -1000, 23, 13, 78, 89, 90, 12345, 12000]
print(result)
ma = max(result)
mi = min(result)
print(ma, mi)
print(result.index(ma))
print(result.index(mi))
result[8] = -1000
result[2] = 12345
print(result)

[1, 100, -1000, 23, 13, 78, 89, 90, 12345, 12000]
12345 -1000
8
2
[1, 100, 12345, 23, 13, 78, 89, 90, -1000, 12000]

*Задача 4 - Соседи*

Дан список. Выведите все элементы списка, которые строго больше предыдущего элемента. Для итерирования по элементам списка используйте цикл.

In [ ]:
list3 = [1, 2, 100, 99, 88, -1 , 0, 11, 10]

In [ ]:
for i in range(1, len(list3)):
  if list3[i] > list3[i-1]:
    print(list3[i])

2
100
0
11

*Задача 5 - Найти все вхождения числа в список*

Пользователь вводит последовательность чисел в одну строку через пробел. Рассчитайте, сколько из введенных чисел равно единице.

In [ ]:
inp = input("Введите список чисел через пробел: ").split()
c = 0
for i in inp:
  if int(i) == 1:
    c += 1
print('единице равно столько чисел: ', c)

Введите список чисел через пробел: 1 2 3 1 2 3 4 5
единице равно столько чисел:  2

*Задача 6 - Больше всех своих соседей (Дополнительная!)*

Пользователь вводит последовательность чисел в одну строку через пробел. Рассчитайте, сколько из чисел строго больше двух своих соседей. Также выведите эти самые числа на экран.

In [ ]:
inp = input("Введите список чисел через пробел: ").split()
c = 0
num = []

for i in range(1, len(inp) -1):
  if inp[i] > inp[i -1] and inp[i] > inp[i + 1]:
    num.append(i)
    c += 1
print('числа: ', num)
print('всего таких чисел: ', c)

Введите список чисел через пробел: 1 2 1 3 5 4
числа:  [1, 4]
всего таких чисел:  2

*Задача 7 - Проредить массив (Дополнительная!)*

Пользователь вводит последовательность чисел в одну строку через пробел. Создайте новый список, на базе исходного, в котором переставьте все нули списка в конец, а все ненулевые элементы оставьте в начале списка в том же порядке, в каком они были изначально. Выведите результат на экран.

In [ ]:
inp = input("Введите список чисел через пробел: ").split()

list = [int(num) for num in inp]
result = [num for num in list if num !=0] + [num for num in list if num ==0]

print('обновлённый список: ', result)

Введите список чисел через пробел: 1 2 0 3 4 0 5 6 0 7 8 0 9
обновлённый список:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 0, 0, 0]

### Блок 2

Отрабатываем умение работать с кортежами, множествами и словарями. В данном блоке заданий старайтесь проверять решение на разных наборах значений и разной длины, чтобы убедиться, что ваша программа - универсальна.

*Задача 0 - Общие элементы*

Даны два списка. Найдите элементы, которые есть и в первом списке и во втором, выведите их количество на экран

In [ ]:
list1 = [1, 2, 3, 'p', -1, 20, 0.2, 'u']
list2 = [11, 22, 33, 'p', -1, 20.2, 0.2]
a = set(list1)
b = set(list2)

print(len(a & b))

3

*Задача 1 - Уникальные элементы*

Пользователь вводит числа на экран в одну строку через пробел. Выведите, сколько уникальных чисел было введено.

In [ ]:
n = input("введите список чисел через пробел: ").split()
set(n)
a = set(n)
print('уникальныйх чисел = ', len(a))

введите список чисел через пробел: 4 6 3 74 0 1 2 1 1 1 3 4 6 6
уникальныйх чисел =  7

*Задача 2 - Площадь*

Даны списки из 2 элементов, каждый из которых является координатами точек A и B соответственно. Напишите функцию, которая ищет расстояние между этими точками. Найти расстояние между двумя точками можно по формуле Евклидова расстояния.

https://ru.wikipedia.org/wiki/%D0%95%D0%B2%D0%BA%D0%BB%D0%B8%D0%B4%D0%BE%D0%B2%D0%B0_%D0%BC%D0%B5%D1%82%D1%80%D0%B8%D0%BA%D0%B0

PS. Попробуйте запустить программу на разных точках с разными размерностями

In [ ]:
coords = [(100, 91, 87), (80, 35, 70)]

In [ ]:
import math

def dist(coords):
  point_a = coords[0]
  point_b = coords[-1]
  x1, y1 = point_a[:2]
  x2, y2 = point_b[:2]

  s = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
  return s

coords = [(100, 91, 87), (80, 35, 70)]

if len(coords) == 2:
  s = dist(coords)
elif len(coords) == 3:
  s = sum(dist(coords[i:i+2]) for i in range(len(coords)-1))
else:
  s = 0

print(s)

59.464274989274024

*Задача 3 - Количество повторений слов*

В переменной `text` записан некоторый текст. Посчитайте частотность появления каждого уникального слова в тексте. Используйте для хранения частотности наиболее подходящую структуру данных.

В результате выведите информацию по частотности каждого слова на экран.

Словом будем считать последовательности символов, отделенную пробелом от следующей последовательности символов.

In [ ]:
text = '''She sells sea shells on the sea shore \
The shells that she sells are sea shells I'm sure \
So if she sells sea shells on the sea shore \
I'm sure that the shells are sea shore shells'''

In [ ]:
# 1-cписок , 2-регистр, 3-сделать множеством уникальных слов, 4-создать_словарь

In [ ]:
from collections import Counter

t = text.split(' ')
print(Counter(t))

Counter({'sea': 6, 'shells': 6, 'sells': 3, 'the': 3, 'shore': 3, 'on': 2, 'that': 2, 'she': 2, 'are': 2, "I'm": 2, 'sure': 2, 'She': 1, 'The': 1, 'So': 1, 'if': 1})

*Задача 4 - Средний балл*

В переменной `grades` записаны оценки учеников за экзамен по физике в разных классах одной параллели. Рассчитайте средний балл по каждому классу, и средний балл по параллели целиком. Выведите результаты на экран, округлив все значения с точностью до 2 знаков.

In [ ]:
grades = {
    '11A': [4, 5, 4, 5, 4, 5, 5, 5, 5, 5, 5, 3],
    '11B': [3, 5, 3, 4, 4, 5, 4, 5, 4, 5, 5, 5],
    '11C': [3, 3, 4, 4, 4, 5, 5, 5, 5, 5,],
    '11D': [4, 4, 4, 5, 4, 5, 5, 5, 4, 4, 4, 4],
    '11E': [3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 5, 4, 3]
}

In [ ]:
mb_11a =sum(grades['11A']) / len(grades['11A'])
print(f"средний балл 11A = {mb_11a:.2f}")
mb_11b =sum(grades['11B']) / len(grades['11B'])
print(f"средний балл 11B = {mb_11b:.2f}")
mb_11c =sum(grades['11C']) / len(grades['11C'])
print(f"средний балл 11C = {mb_11c:.2f}")
mb_11d =sum(grades['11D']) / len(grades['11D'])
print(f"средний балл 11D = {mb_11d:.2f}")
mb_11e =sum(grades['11E']) / len(grades['11E'])
print(f"средний балл 11E = {mb_11e:.2f}")
mb_11 =sum(grades['11A']+grades['11B']+grades['11C']+grades['11D']+grades['11E']) / len(grades['11A']+grades['11B']+grades['11C']+grades['11D']+grades['11E'])
print(f"средний балл в 11 классе по параллелям = {mb_11:.2f}")

средний балл 11A = 4.58
средний балл 11B = 4.33
средний балл 11C = 4.30
средний балл 11D = 4.33
средний балл 11E = 4.08
средний балл в 11 классе по параллелям = 4.32

*Задача 5 - Проверка на новизну*

Пользователь вводит числа на экран в строку через пробел. Для каждого числа выведите `y` или `n`. `y` - если данное число до этого встречалось в списке, `n` - если нет.

In [ ]:
inp = input("Введите список чисел через пробел: ").split()
result = set()
end = []

for i in inp:
  if i in result:
    end.append('y')
  else:
    end.append('n')
    result.add(i)

end = ' '.join(end)
print(end)

Введите список чисел через пробел: 1 3 5 7 9 0 1 2 4 6
n n n n n n y n n n

*Задача 6 - Значения роста* (Дополнительная!)

В словаре `students` хранится рост студентов, измеренный на первом занятии физкультуры.
Приходит новый студент, через строку ввода он указывает свои ФИО и рост. Запишите его данные в словарь, и выявите, какой по очереди он будет стоять в шеренге, отсортированной по убыванию роста (расчет в шеренге начинается единицы). Если у двух студентов рост одинаковый, наш студент будет стоять последним.

In [ ]:
students = {
    'ИвановИИ': 170,
    'ЖдановИЮ': 183,
    'ИвановаАА': 168,
    'МаркинаГА': 169,
    'ПетроваАВ': 172,
    'ПотаповЮР': 175,
    'ЛарионовСБ': 177
}

In [ ]:
name = str(input("введите фи: "))
sm = int(input("введите рост: "))

students[name] = sm
sort_students = dict(enumerate(sorted(students.items(), key=lambda x: x[1], reverse=True), start=1))
print(sort_students)

введите фи: ПетрсА
введите рост: 165
{1: ('ЖдановИЮ', 183), 2: ('ЛарионовСБ', 177), 3: ('ПотаповЮР', 175), 4: ('ПетроваАВ', 172), 5: ('ИвановИИ', 170), 6: ('МаркинаГА', 169), 7: ('ИвановаАА', 168), 8: ('ПетрсА', 165)}

### Блок 3

В этом блоке отрабатываем умение пользоваться list/dict comprehensions, а также функцию zip.

11 пункт - дополнительный

*Задача 0 - Отрабатываем умение писать генераторы*

Определите генераторы, по описанию в комментариях. Выведите результат генерации на экран

In [ ]:
# 1. сгенерируйте список строк: user1, user2, user3 итд до user15
res = res = [f"user{i}" for i in range (1, 16)]
print(res)

['user1', 'user2', 'user3', 'user4', 'user5', 'user6', 'user7', 'user8', 'user9', 'user10', 'user11', 'user12', 'user13', 'user14', 'user15']

In [ ]:
# 2. сгенерируйте список из 10 случайных значений от -10 до 10

import random

random_list = [random.randint(-10, 10) for i in range(10)]
print(random_list)

[-4, 4, 2, 2, 10, -8, -10, 8, -6, -3]

In [ ]:
# 3. сгенерируйте список из квадратных корней всех чисел от 16 до 25 включительно. Округлите все значения до двух знаков после запятой

squares = [i ** 0.5 for i in range(16, 26)]
squares2 = [f"{i:.2f}" for i in squares]
print(squares2)

['4.00', '4.12', '4.24', '4.36', '4.47', '4.58', '4.69', '4.80', '4.90', '5.00']

In [ ]:
# 4. сгенерируйте список из четных числа от 40 до 60 включительно без использования if

num = [i for i in range(40, 61, 2)]
print(num)

[40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]

In [ ]:
# 5. в предыдущем генераторе добавьте условие: если число делится на 6 - его не включать в список значений

num = [i for i in range(40, 61, 2) if i % 6 != 0]
print(num)

[40, 44, 46, 50, 52, 56, 58]

In [ ]:
# 6. сгенерируйте список из четных числа от 40 до 60 включительно. Если какое-то из четных чисел делится на 6 - вместо него поставьте символ 'Y'

num = [i if i % 6 != 0 else 'Y' for i in range(40, 61, 2)]
print(num)

[40, 'Y', 44, 46, 'Y', 50, 52, 'Y', 56, 58, 'Y']

In [ ]:
# 7. сгенерируйте словарь, в котором ключи это значения из списка list1, а значения - это количество символов в названии ключа

list1 = ['yellow', 'green', 'blue', 'red', 'pink', 'deep-blue', 'white']
d = {i: len(i) for i in list1}
print(d)

{'yellow': 6, 'green': 5, 'blue': 4, 'red': 3, 'pink': 4, 'deep-blue': 9, 'white': 5}

In [ ]:
# 8. сгенерируйте словарь, в котором ключи это значения из списка, полученного в пункте 1, а значения из пункта 3

res = ['user' + str(i) for i in range(1, 16)]

squares = [i ** 0.5 for i in range(16, 26)]
squares2 = [f"{i:.2f}" for i in squares]

d = {i: j for i, j in zip(res, squares2)}
print(d)

{'user1': '4.00', 'user2': '4.12', 'user3': '4.24', 'user4': '4.36', 'user5': '4.47', 'user6': '4.58', 'user7': '4.69', 'user8': '4.80', 'user9': '4.90', 'user10': '5.00'}

In [ ]:
# 9. дополните предыдущий пункт условием так, чтобы оставить только тех пользователей, у которых в значении не целое число

res = ['user' + str(i) for i in range(1, 16)]

squares = [i ** 0.5 for i in range(16, 26)]
squares2 = [f"{i:.2f}" for i in squares]

d = {i: j for i, j in zip(res, squares2) if int(float(j)) != float(j)}
print(d)

{'user2': '4.12', 'user3': '4.24', 'user4': '4.36', 'user5': '4.47', 'user6': '4.58', 'user7': '4.69', 'user8': '4.80', 'user9': '4.90'}

In [ ]:
# 10. дополните пункт 8 так, чтобы для всех пользователей из сгенерированных в пункте 1 создалась пара в итоговом словаре

res = ['user' + str(i) for i in range(1, 16)]

squares = [i ** 0.5 for i in range(16, 26)]
squares2 = [f"{i:.2f}" for i in squares]

d = {i: j for i, j in zip(res, squares2)}
d2 = {i: d.get(i, 'None') for i in res}

print(d2)

{'user1': '4.00', 'user2': '4.12', 'user3': '4.24', 'user4': '4.36', 'user5': '4.47', 'user6': '4.58', 'user7': '4.69', 'user8': '4.80', 'user9': '4.90', 'user10': '5.00', 'user11': 'None', 'user12': 'None', 'user13': 'None', 'user14': 'None', 'user15': 'None'}

In [ ]:
# 11. пользователь на экран в строку пишет значения для словаря в формате: коля:9 леша:10 ира:12 (Дополнительная!!!)
# распарсите эти значения в словарь с помощью одной строчки кода

inp = input()
name = str(inp.split(':')[0])
numb = int(inp.split(':')[-1])
d = {name: numb}
print(d)

ani:2
{'ani': 2}